/.venv
/.vscode
db.sqlite3uv.lock
*.old
uv.lock
**/__pycache__**
*.pyc
*copy*
# Tietokanta tiedostoa ei tarvitse tallettaa gigthubiin
db.sqlite3

# .pyc files. Compiled bytecode of Python source files.
*.py[cod]
0001_initial.py
