* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 10vh;
    background-color: rgb(169, 100, 100);
    color: whitesmoke;
    font-size: 1.35rem;
}

nav {
    padding: 1rem;
    background-color: rgb(169, 100, 100);
    color: white;
    font-size: 2rem;
    font-family: Brush Script MT, cursive;
}

main {
    padding: 1rem;
}

span {
    font-family: Brush Script MT, cursive;
}
section {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

h1,
h2 {
    font-size: 1.25rem;
    font-family: Lucida Sans Regular;
}

p, b {
    font-size: 1.35rem;
    font-family: Lucida Sans Regular;
}

a {
    text-decoration: none;
    color: #db8781;
    font-family: Lucida Sans Regular;

}

a:hover {
    opacity: .85;
}

.banner {
    display: block;
    width: 100%;
    max-width: 800px;
}

.errorlist li::marker {
    content: ' 🚨 ';
}

.logout-button {
    font-size: 2rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-family: Brush Script MT, cursive;
}

logout-button:hover {
    opacity: .85;
}

button {
    font-size: 1.35rem;
    font-family: Lucida Sans Regular;
}

th {
    padding: 1rem;
}

input {
    padding: .1rem;
    font-size: 1rem;
    max-width: 120px;
}

label {
    padding: .25rem;
    font-size: 1.35rem;

}
select {
    padding: .15rem;
    font-size: 1rem;
}
img {
    padding: .15rem;
    font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
}