
{% extends 'layout.html'%}

{% block title %}
    Myynti
{% endblock %}

{% block content %}
    <h2>Valitse ruokailuaika</h2>

    <form method="POST">   <!-- Lomake lähettää dataa -->
        {% csrf_token %}

        <!-- Näytetään radiovalinnat, jotka tulevat forms.ModelFormista -->
        {{ aika_form.aika }}
        <br>
        {% for artikkeli in artikkelit %}
        {{ artikkeli.artikkeli }} {{ artikkeli.hinta }} €  {{ myynti_form.kpl }} <br>
        {% endfor %}

        

        <input type="submit" value="Lähetä">

    </form>
    <br><br>
    <p>Myydyt tuotteet:</p>
    {% for myynti in myynnit %}
            
        {{ myynti.artikkeli }}
    <br>
    {% endfor %}

</head>
    <form> 
        <!-- <article>
            <label for="id_aika_0">16.30
                <input type="radio" name="aika" value="16.00" required id="id_aika_0">
            </label>
            <label for="id_aika_1">17.00
                <input type="radio" name="aika" value="16.30" required id="id_aika_1">
            </label>
            <label for="id_aika_0">17.30
                <input type="radio" name="aika" value="16.00" required id="id_aika_0">
            </label>
            <label for="id_aika_1">18.00
                <input type="radio" name="aika" value="16.30" required id="id_aika_1">
            </label>
        </article> -->
        {% comment %} {% for artikkeli in artikkelit %}
        <article class='artikkeli' >
            <table>
                <th href="{% url "artikkelit:lista" %}">
                    {{ artikkeli.artikkeli }} 
                </th>
                <td>{{ artikkeli.hinta }} € </td>
                <td>
                    <label for="kpl"> Kpl:</label>
                    <input type="number" id="kpl" name="Kpl" step="1">
                </td>
            </table>
        </article>
    {% endfor%}
    <input type="submit" value="Submit">
    </form> {% endcomment %}
{% endblock %}
