{% extends 'layout.html'%}

{% block title %}
    Myynti
{% endblock %}

{% block content %}
    <section>
    <h1>Myynti</h1>
    <p>Taloyhtiövalinta</p>
    <p>vuosivalinta koodissa</p>
    <p>asunto</p>
    <a href="{% url 'posts:list' %}">

        <form class="form-with-validation" action="{% url 'posts:list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form }}
            <button class="form-submit">Lisää artikkeli</button>
        </form>

        <form action="/form/" method='post'>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value='Submit'>
        
        {% for post in posts %}
            <article class='post' >
                <table>
                    <th href="{% url 'posts:list' %}">
                        {{ post.artikkeli }}
                    
                    </th>
                    <td>{{ post.hinta }} €</td>
                    <td>
                        <td>{{ post.artikkeli_id }}id</td>
                        
                            <label for="kpl">Kpl:</label>
                            <input type="number" id="kpl" name="Kpl" step="1">
                            <input type="submit" value="Submit">
                          
                    </td>
                </table>
            </article>
        {% endfor%}
        </form>
    </a>

    </section>
{% endblock %}