
{% extends 'layout.html'%}

{% block title %}
    Myynti
{% endblock %}

{% block content %}
</head>
    <p>Taloyhtiövalinta</p>
    <p>vuosivalinta uusi koodissa</p>
    <p>asunto</p>
    <h1>Artikkelit:</h1>
    <form> 
      <select name="aika" class="custom-select mb-4">
        <option selected></option>
          {% for aika in ajat %}
            <option value="{{ajat.aika}}"></option>
          {% endfor %}
      </select>
            {% csrf_token %}
            {{ aika }}

    {% for artikkeli in artikkelit %}
        <article class='artikkeli' >
            <table>
                <th href="{% url "artikkelit:lista" %}">
                    {{ artikkeli.artikkeli }} 
                </th>
                <td>{{ artikkeli.hinta }} € </td>
                <td>
                    <label for="kpl"> Kpl:</label>
                    <input type="number" id="kpl" name="Kpl" step="1">
                </td>
            </table>
        </article>
    {% endfor%}
    <input type="submit" value="Submit">
    </form>
{% endblock %}
