
{% extends 'layout.html'%}

{% block title %}
    Myynti
{% endblock %}

{% block content %}
    <h2>Valitse ruokailuaika</h2>

    <form method="POST">   <!-- Lomake lähettää dataa -->
        {% csrf_token %}

        <!-- Näytetään radiovalinnat ja niiden viereen yhteenlasketut henkilömäärät kuhunkin ruokailuajankohtaan -->
        <label>
            <input type="radio" name="aika" value="1630" required> 16.30   ---    {{ passit_per_aika.1630 }} hlöä
        </label><br>

        <label>
            <input type="radio" name="aika" value="1700" required> 17.00   ---    {{ passit_per_aika.1700 }} hlöä
        </label><br>

        <label>
            <input type="radio" name="aika" value="1730" required> 17.30   ---   {{ passit_per_aika.1730 }} hlöä
        </label><br>

        <label>
            <input type="radio" name="aika" value="1800" required> 18.00  ---  {{ passit_per_aika.1800 }} hlöä
        </label><br>


        <!-- Näytetään radiovalinnat, jotka tulevat forms.ModelFormista -->
        <!-- <div>
        {{ aika_form.aika }} -- {{ passit_per_aika.17.30 }}
        </div> -->
        
        <br>
        {% for artikkeli in artikkelit %}
        {{ artikkeli.artikkeli }} {{ artikkeli.hinta }} €
        <input type="number" name="kpl_{{ artikkeli.id }}" min="0" step="1" value="0">
        <br>
        {% endfor %}
        <br>
        
        <input type="submit" value="Näytä summa" name="nayta_summa"><br>
        
        <b>Summa: {{ myyntisumma }} € </b><br><br>

        <input type="submit" value="Tallenna" name="tallenna">

    </form>
    <br><br>
    <p>Myydyt tuotteet:</p>
    {% for myynti in myynnit %}
            
        {{ myynti.artikkeli }}
    <br>
    {% endfor %}

</head>
    <form> 
        <!-- <article>
            <label for="id_aika_0">16.30
                <input type="radio" name="aika" value="16.00" required id="id_aika_0">
            </label>
            <label for="id_aika_1">17.00
                <input type="radio" name="aika" value="16.30" required id="id_aika_1">
            </label>
            <label for="id_aika_0">17.30
                <input type="radio" name="aika" value="16.00" required id="id_aika_0">
            </label>
            <label for="id_aika_1">18.00
                <input type="radio" name="aika" value="16.30" required id="id_aika_1">
            </label>
        </article> -->
        {% comment %} {% for artikkeli in artikkelit %}
        <article class='artikkeli' >
            <table>
                <th href="{% url "artikkelit:lista" %}">
                    {{ artikkeli.artikkeli }} 
                </th>
                <td>{{ artikkeli.hinta }} € </td>
                <td>
                    <label for="kpl"> Kpl:</label>
                    <input type="number" id="kpl" name="Kpl" step="1">
                </td>
            </table>
        </article>
    {% endfor%}
    <input type="submit" value="Submit">
    </form> {% endcomment %}
{% endblock %}
