{% extends 'layout.html' %}

{% block title %}
    Uusi Artikkeli
{% endblock %}

{% block content %}
    <section>
        <h1>Uusi Artikkeli</h1>
        <p>id, jotta voi järjestää fiksusti myyntisivulle, myös lisätietokentän mukaan järjestys</p>
        <p>vuosivalinta, miten olisi fiksuin tehdä? tarvitaanko?</p>
        <form class="form-with-validation" action="{% url 'posts:new-post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form }}
            <button class="form-submit">Lisää artikkeli</button>
        </form>
    </section>
{% endblock %}